<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BioModelAnalyzer" Language="1033" Version="1.6.0.0" Manufacturer="Ben Hall" UpgradeCode="bd7bae52-02e5-4e54-a04c-a7baa81c493a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="BMA.ico" SourceFile="BMA.ico"/>
    <Property Id="ARPPRODUCTICON" Value="BMA.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="BMAStanaloneInstaller" Level="1">
      <ComponentRef Id="BioCheckConsole" />
      <ComponentRef Id="BMAConsoleShortcut"/>
      <ComponentGroupRef Id="selfhostcontent" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="BMA">
          <Component Id="BioCheckConsole" Guid="04526E0F-3D0D-40C5-9878-FAFEF6CC170F">
            <File Id="BioCheckConsole.exe" KeyPath="yes" Source="$(var.BioCheckConsole.TargetDir)\BioCheckConsole.exe"/>
            <File Id="BioCheckConsole.exe.config" Source="$(var.BioCheckConsole.TargetDir)\BioCheckConsole.exe.config" />
            <File Id="Attractors.dll" Source="$(var.Attractors.TargetDir)\Attractors.dll" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Component Id="BMAConsoleShortcut" Directory="ProgramMenuFolder" Guid="6BF8909D-5FB7-4956-B475-3A591F7370FB">
      <Shortcut Advertise="no"
            Id="bmaConsoleShortcut"
            Directory="DesktopFolder"
            Name="BMA Console"
            WorkingDirectory="INSTALLFOLDER"
            Target="[SystemFolder]cmd.exe" 
            Arguments="/k &quot;[INSTALLFOLDER]BioCheckConsole.exe&quot;"
            Icon="Icon2.exe">
        <Icon Id="Icon2.exe" SourceFile="BMA.ico" />
      </Shortcut>
      <RemoveFolder Id="RemoveProgramMenuFolder" On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\BenHall\BMA"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes"/>
    </Component>
    
  </Fragment>

</Wix>
