<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="BMAStanaloneInstaller" Language="1033" Version="1.0.1.0" Manufacturer="test" UpgradeCode="bd7bae52-02e5-4e54-a04c-a7baa81c493a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="BMAStanaloneInstaller" Level="1">
			<ComponentRef Id="BioCheckConsole" />
      <ComponentGroupRef Id="selfhostcontent" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="BMA">
          <Component Id="BioCheckConsole" Guid="04526E0F-3D0D-40C5-9878-FAFEF6CC170F">
            <File Id="BioCheckConsole.exe" KeyPath="yes" Source="$(var.BioCheckConsole.TargetDir)\BioCheckConsole.exe" />
            <File Id="BioCheckConsole.exe.config" Source="$(var.BioCheckConsole.TargetDir)\BioCheckConsole.exe.config" />
          </Component>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

</Wix>
