/* General Functions */

.background-img() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hoverable:hover {
    cursor: pointer;
}

.invisible {
    display: none;
}

.calc(@prop; @val) {
    @{prop}: calc(@val);
    @{prop}: -moz-calc(@val);
    @{prop}: -webkit-calc(@val);
    @{prop}: -o-calc(@val);
}

.border-radius(@a) {
    -moz-border-radius: @a;
    -webkit-border-radius: @a;
    -ms-border-radius: @a;
    -o-border-radius: @a;
    border-radius: @a;
}

.box-shadow(@x; @y; @blur; @color) {
    -webkit-box-shadow: @x @y @blur @color;
    -moz-box-shadow: @x @y @blur @color;
    -o-box-shadow: @x @y @blur @color;
    box-shadow: @x @y @blur @color;
}

.gradient(@side, @color1, @color2) {
    background-image: -moz-linear-gradient(@side, @color1, @color2);
    background-image: -webkit-linear-gradient(@side,@color1, @color2);
    background-image: -ms-linear-gradient(@side, @color1, @color2);
    background-image: -webkit-gradient(linear,@side, @color1, @color2);
}

/*  Colors  */

@green: #81BB83;
@lightgreen: #D9FFB6;
@red: #FEB6B2;
@darkred: #CF451B;
@lightgrey: #EDEDED;
@midgrey: #AAA;
@darkgrey: #606060;
@sim-yellow: #FFFCB5;
@sim-blue: rgba(223,223,245,0.5);
@pink: #F5B3B2;

@shadow: rgba(0,0,0,0.50);

/*  Typography  */

@import "fonts.less";

.default-text() {
    font-family: 'Segoe-UI';
    font-size: 13px;
    line-height: 17px;
    color: @darkgrey;
}

.bold {
    font-family: 'Segoe-UI-Bold';
}

/*   BASE   */

html, body {
    background-color: @lightgrey;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;
    .default-text()
}

img {
    border: 0;
}

.heading {
    color: @green;
    font-family: 'Segoe-UI-Light';
    font-size: 36px; 
    line-height: 100%;
}

.bold {
    color: @darkgrey;
    font-weight: 'Segoe-UI-Bold';
}

.page-title() {
    font-family: 'Segoe-UI-Light';
    font-size: 3em;
    line-height: 100%;
    color: @green;
}

/* ---  Links  --- */

a {
    color: #82BD82;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* New class to enable link style change by hover*/
.hoverEnabled a {
    color: #82BD82;
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 0px; /* Top right bottom left */
    white-space: nowrap; /* No wrapping: hyperlink forced onto one line */
}

.hoverEnabled a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* New class ends */

/* ---  Buttons --- */

#btn-block {
    position: relative;
    background-color: white;
    /*padding:10px 10px 10px 10px;*/ /* No spill-over, unclickable space.  */
    margin: 0 15px 15px 0;
    width: 110px;
    text-align: center;
    color: @green;
    float: left;
    .border-radius(10px);
    .box-shadow(@x:2px, @y:5px, @blur:10px, @color:@shadow);
}

#btn-block:hover {
    background-color: @green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#btn {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ---  Site-Wide header  --- */

.launch-btn {
    position: relative;
    z-index: 5;
    background-color: @green;
    display: block;
    color: white;
    font-family: 'Segoe-UI-Light';
    font-size: 2.2em;
    line-height: 100%;
    width: 150px;
    padding: 30px 10px 10px 10px; /* Prevents 'Enter tool' from being squeezed up against the page top*/
    margin: -65px 0 0 -270px; /* wrt the page */
    .border-radius(0px 0px 10px 10px);
    .box-shadow(@x:2px, @y:5px, @blur:10px, @color:@shadow);

    &:hover {
        text-decoration: none;
        background-color: white;
        color: @green;
    }
}

.home-launch-btn {
    .launch-btn();
    margin: 0px;
    padding: 10px 10px 10px 10px;
    .border-radius(10px 10px 10px 10px);
    //.box-shadow(@x:2px, @y:5px, @blur:10px, @color:@shadow);
    position: absolute;
    top: 40px;
    left: 40px;
}

/* ---  Home page  --- */

#home-logo {
    width: 100%;
    height: 100%;
}

.home-logo-img {
    position: absolute;
    left: calc(~"50% - 225px");
    top: calc(~"40% - 225px");
}

#home-launch {
    position: relative;
    height: 100%;
    //margin: 0 auto 0 50%;
}


#home-launch img {
    margin-top: 14px;
}

#home-launch-btn {
    position: absolute;
    //width: 100%;
    //height: 100%;
    bottom: 30%;
    left: 250px;
    z-index: 1;
}

/* Blocks */

.infopage-block {
    background-color: white;
    padding: 50px; 
    .default-text()
}

.infopage-block-faq {
    background-color: @pink;
    color: white;
    font-family: 'Segoe-UI';
    font-size: 24px;
    line-height: 31px;
    padding: 50px; 
}

.infopage-block-faq .heading{
    color: @darkred;
}

.infopage-block-faq .bold{
    color: white;
}

.infopage-block-publications {
    background-color: @green;
    color: white;
    font-family: 'Segoe-UI';
    font-size: 24px;
    line-height: 31px;
    padding: 50px; 
}

.infopage-block-publications .heading {
    color: white;
}

.Team_Member {
    //margin-bottom: 15px;
}


.Team_Member p {
    //margin: 5px 0px 5px 0px;
}


.FAQ_question {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    padding-top: 10px;
}


.FAQ_question .question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.expand-btn {
    background-repeat: no-repeat;
    background-size:contain;
    width: 30px;
    height: 15px;
}

.down-arrow {
    background-image: url(../images/downarrow.png);
}

.up-arrow {
    background-image: url(../images/uparrow.png);
}



